[loggers]
keys=root, connection

[handlers]
keys=file_handler, stream_handler

[formatters]
keys=formatter

[logger_root]
level=DEBUG
handlers=stream_handler

[logger_connection]
level=DEBUG
handlers=file_handler
qualname=venice.connection
propagate=0

[handler_stream_handler]
class=StreamHandler
formatter=formatter
args=(sys.stderr,)

[handler_file_handler]
class=FileHandler
formatter=formatter
args=('tests.log',)

[formatter_formatter]
format=%(asctime)s [%(levelname)s] %(name)s.%(funcName)s: %(message)s

# vim: filetype=cfg
